.main-colors {
    background-color: #003366;
    color: #fbfbfb;
    text-shadow: 2px 2px 4px #000000;
}

nav {
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.5);
}

.inside-container {
    padding: 10px;
}

p {
    margin: 0;
    padding: 0;
}

h5 {
    margin: 20px;
    text-decoration: underline;
}

footer p {
    font-size: 14px;
}

nav a, .fa-bars {
    color: #fbfbfb; 
}

a:hover {
    color: #fbfbfb;
}

.nav-item a:hover {
    color: #0099cc;
    text-decoration: underline;
}

.nav-item {
    margin-left: auto;
}

.navbar-brand {
    margin-right: 0;
    font-size: 26px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
}
